*.swp
*.bak
*.zip
*.ged
/uploads
/themes/foundation
/themes/levy
/themes/uti-family
/themes/kiwitrees/icon_html.txt
/modules_v4/openstreetmap
/tx.exe
/.tx
/js/colorbox
/modules_v4/advent
/language/unused languages
/modules_v4/backup_to_dropbox/dropbox-sdk/examples
/modules_v4/backup_to_dropbox/dropbox-sdk/support
/modules_v4/backup_to_dropbox/dropbox-sdk/test
data\fancy_treeview_descendants_cache
/data/fancy_treeview_ancestors_cache
/library.tcpdf/examples
/library.tcpdf/tools
/modules_v4/gallery/galleria/themes/azur
