*.swp
*.bak
*.zip
*.ged
/uploads
/themes/foundation
/themes/levy
/themes/uti-family
/themes/kiwitrees/icon_html.txt
/modules_v3/openstreetmap
/tx.exe
/.tx
/js/colorbox
/modules_v3/advent
/language/unused languages
/modules_v3/backup_to_dropbox/dropbox-sdk/examples
/modules_v3/backup_to_dropbox/dropbox-sdk/support
/modules_v3/backup_to_dropbox/dropbox-sdk/test
/data/fancy_treeview_cache
/data/fancy_treeview_pedigree_cache
/library.tcpdf/examples
/library.tcpdf/tools
/modules_v3/gallery/galleria/themes\azur
