*.swp
*.bak
*.zip
*.ged
.DS_Store

*myheader.php
*mystyle.css
*mytheme.php

/data/config.ini.php
/data/cache/
/data/media/
/data/histo*
/data/fancy_treeview_descendants_cache
/data/fancy_treeview_ancestors_cache
/data/media_watermarks_cache
/data/tmp

/js/colorbox

/language/unused languages

/library/swiftmailer/tests
/library/swiftmailer/doc
/library/php-diff/example

/modules_v4/advent
/modules_v4/database_backup/vendor/r23/msd/work
/modules_v4/gallery/galleria/themes/azur
/modules_v4/gallery/galleria/themes/folio
/modules_v4/gallery/galleria/themes/fullscreen
/modules_v4/gallery/galleria/themes/miniml
/modules_v4/gallery/galleria/themes/twelve
/modules_v4/pages_*
/modules_v4/batch_update/plugins/jamies_edit.php

# files for levy site only
/modules_v4/stories2
/themes/levy

/uploads

/tx.exe
/.tx
